<h1>Pensum Tracker</h1>

<section class="buttons">
  <button mat-raised-button color="primary" (click)="openCreatePensumDialog()">
    Add Pensum
  </button>
  <button mat-raised-button color="primary" (click)="openCreateSubjectDialog()">
    Add Subject
  </button>
</section>

@if (pensum()) {
  <h2>University: {{ pensum()?.university | titlecase }}</h2>
  <h3>Career: {{ pensum()?.career | titlecase }}</h3>
  <h4>Total subjects: {{totalSubjects}}</h4>
  <h4>Approved subjects: {{approvedSubjects}}</h4>
  <h4>Pending subjects: {{pendingSubjects}}</h4>
}

<app-pensum-table [dataSource]="subjects()"/>
