<h3 mat-dialog-title>Add Subject</h3>
<mat-dialog-content>
  <form [formGroup]="subjectForm">

    <!-- name -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Calculo I" formControlName="name"/>
      </mat-form-field>
    </p>

    <!-- state -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let option of subjectStates" value="option">{{
              option
            }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <!-- Score -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Score</mat-label>
        <input class="score-input" type="number" matInput placeholder="50" formControlName="score"/>
      </mat-form-field>
    </p>

    <!-- semester -->
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Semester</mat-label>
        <mat-select formControlName="semester">
          @for (option of [1, 2, 3, 4, 5, 6, 7, 8]; track option) {
            <mat-option value="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </p>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close="">Close</button>
  <button [mat-dialog-close]="true" [disabled]="subjectForm.invalid" mat-raised-button color="primary" type="submit">
    Add
  </button>

</mat-dialog-actions>
